/*******************************
            Global
*******************************/

html,
body {
  font-size: 15px;
  height: 100%;
}

body {
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Microsoft JhengHei", sans-serif;
  background: #FFFFFF;
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

/*******************************
           Menu Variations
*******************************/
/*-------------------
       Colors
--------------------*/
.ui.menu .flymed.active.item,
.ui.flymed.menu .active.item {
  border-color: #029676 !important;
  color: #029676 !important;
}
/*--------------
 Inverted Colors
---------------*/
/*--- Inverted Colors  ---*/
.ui.inverted.flymed.menu {
  background-color: #029676;
}
.ui.inverted.flymed.pointing.menu .active.item:after {
  background-color: #029676;
}

/*******************************
          Basic Icon Variations
*******************************/
/*-------------------
       Colors
--------------------*/
i.flymed.basic.icon {
  color: #029676 !important;
}
/*-------------------
   Inverted Colors
--------------------*/
i.inverted.flymed.basic.icon {
  background-color: #029676 !important;
  color: #FFFFFF !important;
}

/*******************************
            Button Variations
*******************************/
/*-------------------
       Colors
--------------------*/
/*--- flymed ---*/
.ui.flymed.buttons .button,
.ui.flymed.button {
  background-color: #029676;
  color: #FFFFFF;
}
.ui.flymed.buttons .button:hover,
.ui.flymed.button:hover,
.ui.flymed.buttons .active.button,
.ui.flymed.button.active {
  background-color: #009A93;
  color: #FFFFFF;
}
.ui.flymed.buttons .button:active,
.ui.flymed.button:active {
  background-color: #00847E;
  color: #FFFFFF;
}

/*******************************
            Header Variations
*******************************/
/*-------------------
       Colors
--------------------*/
.ui.flymed.dividing.header {
  border-bottom: 3px solid #029676;
}
/*-------------------
   Inverted Colors
--------------------*/
.ui.inverted.flymed.header {
  background-color: #029676 !important;
  color: #FFFFFF !important;
}

/*******************************
            Ivon Variations
*******************************/
/*-------------------
       Colors
--------------------*/
i.flymed.icon {
  color: #029676 !important;
}
/*-------------------
   Inverted Colors
--------------------*/
i.inverted.flymed.icon {
  background-color: #029676 !important;
  color: #FFFFFF !important;
}

/*******************************
            Label Variations
*******************************/
/*-------------------
       Colors
--------------------*/
/*--- flymed ---*/
.ui.flymed.labels .label,
.ui.flymed.label {
  background-color: #029676 !important;
  border-color: #029676 !important;
  color: #FFFFFF !important;
}
.ui.labels .flymed.label:before,
.ui.flymed.labels .label:before,
.ui.flymed.label:before {
  background-color: #029676 !important;
}
/* Hover */
a.ui.flymed.labels .label:hover,
.ui.flymed.labels a.label:hover,
a.ui.flymed.label:hover {
  background-color: #009A93 !important;
  border-color: #009A93 !important;
  color: #FFFFFF !important;
}
.ui.labels a.flymed.label:hover:before,
.ui.flymed.labels a.label:hover:before,
a.ui.flymed.label:hover:before {
  background-color: #009A93 !important;
}
/* Corner */
.ui.flymed.corner.label,
.ui.flymed.corner.label:hover {
  background-color: transparent !important;
}
/* Ribbon */
.ui.flymed.ribbon.label {
  border-color: #009A93 !important;
}

/*******************************
         Progress Bar Variations
*******************************/
/*--------------
     Colors
---------------*/
.ui.flymed.progress .bar {
  background-color: #029676;
}

/*******************************
            Segment Variations
*******************************/
/*-------------------
       Colors
--------------------*/
.ui.flymed.segment {
  border-top: 0.2em solid #029676;
}
/*-------------------
   Inverted Colors
--------------------*/
.ui.inverted.flymed.segment {
  background-color: #029676 !important;
  color: #FFFFFF !important;
}

/*******************************
          UI Overrides
*******************************/

.ui.header {
  font-family: 'Source Sans Pro', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Microsoft JhengHei", sans-serif;
}

.header h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.ui.header,
h1,
h2 {
  font-weight: normal !important;
}

h1.ui.header {
  font-size: 3em;
}

h4.ui.header,
h5.ui.header,
.ui.icon.header {
  font-weight: bold !important;
}

.ui.button {
  font-weight: normal;
  text-decoration: none;
}

a {
  color: #009FDA;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

a:hover {
  color: #00BAFF;
}

p a {
  font-weight: bold;
}

/*-------------------
       Social
--------------------*/
/* Facebook */
i.facebook.icon {
  background-color: #3B579D;
  color: #FFFFFF;
}
i.facebook.icon:hover {
  background-color: #3A59A9;
  color: #FFFFFF;
}
/* Twitter */
i.twitter.icon {
  background-color: #4092CC;
  color: #FFFFFF;
}
i.twitter.icon:hover {
  background-color: #399ADE;
  color: #FFFFFF;
}
/* Homepage */
i.home.icon {
  background-color: #CC181E;
  color: #FFFFFF;
}
i.home.icon:hover {
  background-color: #DF0209;
  color: #FFFFFF;
}

/*******************************
            Global
*******************************/

.menu .right.menu > .mobile.item {
  display: none;
}

.menu .right.menu {
  margin-top: 10px;
}

.ui.page.grid.segment {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.masthead.segment {
  background-image: url(../images/bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  margin: 0em;
  padding-top: 2rem !important;
  padding-bottom: 6rem !important;
  overflow: hidden;
  -webkit-box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;
  box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;
}

.masthead.segment .column {
  position: relative;
}

.masthead.segment .information {
  margin: 6em 1em 1em 480px;
}

.masthead.segment .information p {
  max-width: 600px;
  margin: 0em 0px 2em 0em;
  font-size: 1.2em;
}

.masthead.segment h1.ui.header .sub {
  font-size: 0.7em;
}

.masthead.segment .image {
  position: absolute;
  left: 0%;
  bottom: -120px;
}

.overview .divided.grid .header + p {
  min-height: 100px;
}

.ui.shape .icon,
.link.list .icon {
  margin: 0em;
  padding: 0em;
}

.ui.cube.shape .side {
  background-color: transparent;
}

/*******************************
          Responsive
*******************************/

/* Mobile Only */

@media only screen and (max-width : 768px) {

  .ui.page.grid.segment {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .menu .right.menu > .item {
    display: none;
  }

  .menu .right.menu > .mobile.item {
    display: block;
  }

  h1.ui.header {
    font-size: 1.5em;
  }

  .masthead.segment {
    -webkit-background-size: auto;
    background-size: auto;
    padding-bottom: 6rem !important;
  }

  .masthead.segment .information {
    margin-left: 270px;
  }

  .masthead.segment .image {
    bottom: -105px;
    width: 260px;
  }

  .masthead.segment .button {
    font-size: 1rem;
  }

  .overview .divided.grid .header .icon {
    font-size: 1.5em;
  }

  .overview .divided.grid .header + p {
    min-height: 0px;
  }

  .masthead.segment .column {
    font-size: 0.7rem;
  }

  .masthead.segment .column p {
    display: none;
  }

  .selection.list .right.floated {
    display: none;
  }
}

@media only screen and (max-width : 1000px) {

}